src/main/java/am/main/data/jaxb/loggerData/AM-Loggers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AM-Loggers" type="AMLoggers"/>
    <xs:complexType name="AMLoggers">
        <xs:sequence>
            <xs:element type="AMLogger" name="Logger" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AMLogger">
        <xs:sequence>
            <xs:element type="xs:string" name="Name"/>
            <xs:element name="enabled" type="xs:boolean" default="true"/>
            <xs:element name="level" default="debug">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="debug"/>
                        <xs:enumeration value="info"/>
                        <xs:enumeration value="error"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>